<?xml version="1.0" encoding="UTF-8"?>
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0" immediate="false" name="com.neusoft.np.arsf.core.config.ConfigurationImpl">
   <implementation class="com.neusoft.np.arsf.core.config.ConfigurationImpl"/>
   <service>
      <provide interface="com.neusoft.np.arsf.service.config.Configuration"/>
   </service>
   <reference cardinality="1..1" interface="com.neusoft.np.arsf.service.log.Log" name="Log" policy="static"/>
</scr:component>
